In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("/content/Age-Income-Dataset - Sheet1.csv")

In [5]:
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

# MEAN

In [6]:
def mean(data):
  y=sum(data)/len(data)
  return y

mean(df['Income'])

50966.0

# MEADIAN

In [7]:

# Sort the dataset based on the "Income" column
sorted_incomes = sorted(row["Income"] for row in data)

# Calculate the median for the "Income" column
n = len(sorted_incomes)
median_income = (sorted_incomes[n // 2] + sorted_incomes[(n - 1) // 2]) / 2
if n % 2 == 0 
else sorted_incomes[n // 2]

print("Median Income:", median_income)

Median Income: 45000

# MAX

In [8]:

# Initialize max_income with the first income value in the dataset
max_income = data[0]["Income"]

# Iterate through the dataset starting from the second element
for row in data[1:]:
    # Update max_income if the current income value is greater
    if row["Income"] > max_income:
        max_income = row["Income"]

print("Maximum Income:", max_income)

Maximum Income: 60000

# STD

In [8]:
def variance(data):
  n=len(data)
  mean=sum(data)/n
  var=sum((i-mean)**2 for i in data)/(n-1)
  return var
import math
var=variance(df['Income'])
std=math.sqrt(var)
std

21096.683267707253

# USING LIB FUNCTIONS

In [15]:
import statistics
statistics.mean(df['Income'])

50966

In [14]:
statistics.median(df['Income'])

46850.0

In [16]:
min(df['Income'])

15000

In [17]:
max(df['Income'])

93000

In [18]:
statistics.stdev(df['Income'])

21096.683267707253

# Provide summary statistics of income grouped by the age groups.

In [22]:
grps=df.groupby('Age')

In [23]:
grps['Income'].mean()

Age
Middle Age    52453.333333
Old           53942.105263
Young         46037.500000
Name: Income, dtype: float64

In [24]:
grps['Income'].median()

Age
Middle Age    53200.0
Old           45300.0
Young         41500.0
Name: Income, dtype: float64

In [25]:
grps['Income'].var()

Age
Middle Age    4.201598e+08
Old           4.354804e+08
Young         4.998292e+08
Name: Income, dtype: float64

In [26]:
grps['Income'].std()

Age
Middle Age    20497.800114
Old           20868.165968
Young         22356.859499
Name: Income, dtype: float64

In [27]:
grps['Income'].min()

Age
Middle Age    25600
Old           24500
Young         15000
Name: Income, dtype: int64

In [28]:
grps['Income'].max()

Age
Middle Age    93000
Old           89700
Young         87000
Name: Income, dtype: int64

#Create a list that contains a numeric value for each
# response to the categorical variable.

In [9]:

# Extract unique categorical values from the dataset
unique_categories = set(row["Age"] for row in data)

# Create a mapping dictionary
mapping = {category: i+1 for i, category in enumerate(unique_categories)}

# Add a numeric value for each response to the categorical variable
for row in data:
    row["Age_Numeric"] = mapping[row["Age"]]

# Print the updated dataset with numeric values for the categorical variable
for row in data:
    print(row)

{'Age': 'Young', 'Income': 25000, 'Age_Numeric': 1}
{'Age': 'Middle Age', 'Income': 54000, 'Age_Numeric': 3}
{'Age': 'Old', 'Income': 60000, 'Age_Numeric': 2}
{'Age': 'Young', 'Income': 15000, 'Age_Numeric': 1}
{'Age': 'Young', 'Income': 45000, 'Age_Numeric': 1}